version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/node:16.13.1

    steps:
      - checkout
      - restore_cache:  
          keys:
            - v1-dependencies-{{checksum "package.json"}}
            - v1-dependencies-
      - run:
          name: install dependencies
          command: npm install
         
      - save_cach:
          path:
            - node_modules
          key: v1-dependencies--{{checksum "package.json"}}

      - run:
          name: run tests
          command: npm run test       

      - run:
          name: build
          command: npm run build 

      - run:
          name: Deploy at netlify
          command: npm run deploy  

  workflow:
    build_deploy:
      jobs:
         - deploy              